body{
    margin: 0;
}
.header{
    width: 100%;
}
.menu{
    height: 116px;
    width: 1265px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-link{
    height: 116px;
    width: 507px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-link li{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #B08EAD;
}
.menu-link a{
    text-decoration: none;
    color: #B08EAD;
}
.visit-block{
    height: 817px;
    width: 100%;
    background: linear-gradient(#C9ADC6 60%,#D6BBD3 40%);
    position: relative;
    margin-bottom: 75px;
}
.vis-pic{
    background: url(./media/photo-visit.png);
    width: 851px;
    height: 675px;
    position: absolute;
    top: 72px;
    left: 178px;
}
.visit-block2{
    height: 450px;
    width: 425px;
    background: #B08EAD;
    position: absolute;
    top: 182px;
    left: 902px;
}
.vis_txt{
    height: 215px;
    width: 300px;
    position: absolute;
    top:124px;
    left: 40.25px;
}
.vis_txt p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.vis_txt h1{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    margin: 0;
}
.vis_txt a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:0;
    text-decoration: none;
    border-bottom: 3px solid #FFFFFF;
}
.catolog{
    width: 1265px;
    margin: auto;
}
.catolog_txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catolog h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
    margin: 0;
    margin-bottom: 13px;
}
.catolog p{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    color: #5F4D5D;
    margin: 0;
    margin-bottom: 17px;
}
.catolog button{
    height: 45px;
    width: 141px;
    border-radius: 25px;
    cursor: pointer;
    background: transparent;
    color: #B99BB6;
    border: 1px solid #B99BB6;
    margin: 0;
    margin-bottom: 50px;
}
.catolog_card{
    width: 1215px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.ct-card1{
    height: 427px;
    width: 368px;
    background: #CEB3CB;
    margin: 0;
    margin-bottom: 70px;
}
.ct-card1 p{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    padding-top: 23px;
    padding-left: 23px;
    text-align: left;
    color: #FFFFFF;
}
.ct-card1 a{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-top: 59px;
    padding-left: 23px;
    text-align: left;
    text-decoration: none;
    margin: 0;
    color: #FFFFFF;
}
.about{
    height: 1500.96875px;
    width: 1265px;
    margin: auto;
    margin-bottom: 91px;
}
.about_txt{
    width: 608px;
    height: 416px;
}
.about_card{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 607.5px 608px;
    border: 0;
}
.about_card1{
    margin: 0 auto;
    display: grid;
    height: 457px;
    grid-template-columns: 607.5px 608px;
    border: 0;
    border-bottom: 2px solid #D7B7D4;
    margin-bottom: 40px;
}
.about_card2{
    margin: 0 auto;
    display: grid;
    height: 546px;
    grid-template-columns: 608px 607.5px;
    border: 0;
    border-bottom: 2px solid #D7B7D4;
    margin-bottom: 40px;
}
.about h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #B99BB6;
    margin: 0;
    margin-top: 88px;
    margin-left: 60px;
    padding-bottom: 10px;
}
.about p{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #5F4D5D;
    padding-left: 60px;
    padding-bottom: 10px;
    margin: 0;
}
.about button{
    height: 45px;
    width: 141px;
    border-radius: 25px;
    cursor: pointer;
    background: transparent;
    color: #B99BB6;
    border: 1px solid #B99BB6;
    margin: 0;
    margin-left: 60px;
}
.cush-catolog{
    height: 990.46875px;
    width: 1215px;
    margin: auto;
}
.cush-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 54px;
}
.cush-card h1{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 7px;
    color: #5F4D5D;
}
.cush-card p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    text-align: center;
    color: #B0B0B0;
}
.icon-mage{
    width: 100%;
    height: 235px;
    background: #D6BBD3;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.icon-con{
    height: 165px;
    width: 1215px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 35px;
}
.icon_tripl{
    width: 316px;
    height: 165px;
    align-items: center;
}
.icon_tripl h1{
    margin: 0;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.icon_tripl p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}
.footer {
    background: #C9ADC6;
    width: 100%;
}
.menu-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 850px;
}
.menu-footer a{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    color: #FFFFFF;
}