body{
    margin: 0;
}
.header{
    width: 100%;
}
.menu{
    height: 116px;
    width: 1265px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-link{
    height: 116px;
    width: 507px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-link li{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #B08EAD;
}
.menu-link a{
    text-decoration: none;
    color: #B08EAD;
}